//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
    <section class="section answer __page-theme">
        <a href="information.html" class="page-close"></a>
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <h1 class="title-2 section-title __main-theme">how to install aeviwer & motion pack</h1>
                </div>
            </div>
            <div class="answer-wrap">
                <div class="row">
                    <div class="col-md-2">
                        <div class="page-description">
                            <p>Plug-Ins that simply work.</p>
                            <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="page-content">
                            <p>Plug-Ins that simply work.</p>
                            <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Plug-Ins that simply work. AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Sketch files with 25 screens.</p>
                        </div>
                    </div>
                </div>
                <div class="answer-wrap-tutorials">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="tutorial-item">
                                <div class="tutorial-item-preview">
                                    <img src="img/posters/2.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
                                </div>
                                <div class="tutorial-item-content">
                                    <div class="tutorial-detail">
                                        <p class="tutorial-time">4:09</p>
                                        <p class="tutorial-type">Free lessons</p>
                                    </div>
                                    <p class="tutorial-title">create videos in a min</p>
                                    <p class="tutorial-description">Some description about tutorial and video inside.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="tutorial-item">
                                <div class="tutorial-item-preview">
                                    <img src="img/posters/3.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
                                </div>
                                <div class="tutorial-item-content">
                                    <div class="tutorial-detail">
                                        <p class="tutorial-time">3:20</p>
                                        <p class="tutorial-type">Tutorials</p>
                                    </div>
                                    <p class="tutorial-title">installation</p>
                                    <p class="tutorial-description">Some description about tutorial and video inside.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="page-content conclusion">
                            <p>Plug-Ins that simply work.</p>
                            <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Perfect for a start of After Effects. Helpful to understand a creation process behind of UI micro-interactions.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="page-nav">
                        <a href="answer.html" class="page-nav-link">
                            <span class="page-nav-link-title">Prev</span>
                            <br />
                            <span class="page-nav-link-description">How to install AEviewer & Other Packs</span>
                        </a>
                        <a href="answer.html" class="page-nav-link">
                            <span class="page-nav-link-title">Next</span>
                            <br />
                            <span class="page-nav-link-description">What does it give</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
//= components/_scripts.html