//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page contacts">
    <section class="section folder">
        <div class="folder-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 offset-xl-2 col-2 offset-lg-2">
                        <a href="feedback.html" class="link-lg visible-md">Feedback form</a>
                        <p class="folder-header-description">Saint—Petersburg</p>
                        <p class="folder-header-description">Nevsky Prospect, 34, office 50</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="folder-content">
            <div class="container">
                <div class="col-4">
                    <h1 class="title-1 folder-content-title">Contacts</h1>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="plugin-social">
                            <a href="https://www.facebook.com/" class="plugin-social-link">Facebook</a>
                            <a href="https://twitter.com/" class="plugin-social-link">Twitter</a>
                            <a href="https://videohive.net/" class="plugin-social-link">Videohive</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="feedback.html" class="link-lg drop-words">Feedback form</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folder-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="plugin-social">
                            <a href="mailto:info@aeviewer.com" class="plugin-social-link">info@aeviewer.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //= components/_subscription.html
    //= components/_footer.html
</div>
//= components/_scripts.html