//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page done">
    <a href="index.html" class="page-close __white"></a>
    <div class="section folder">
        <div class="folder-header">
            <div class="visible-md">
                <p class="folder-content-description">Success.</p>
                <p class="folder-content-description">Your message has been sent.</p>
                <p class="folder-content-description">Cheers!.</p>
            </div>
        </div>
        <div class="folder-content">
            <div class="container">
                <div class="col-4">
                    <h1 class="title-1 folder-content-title">Done</h1>
                </div>
                <div class="col-lg-2 offset-lg-2">
                    <p class="folder-content-description">Success.</p>
                    <p class="folder-content-description">Your message has been sent.</p>
                    <p class="folder-content-description">Cheers!.</p>
                </div>
            </div>
        </div>
        <div class="folder-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <a href="index.html" class="default-link">Click to go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
//= components/_scripts.html