//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page downloads">
    <section class="section folder">
        <div class="folder-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="static-data news-updated">
                            <span class="number">2.4</span>
                            <span class="number-detail">Available</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="folder-content">
            <div class="container">
                <div class="col-4">
                    <h2 class="title-2 folder-content-subtitle">Download</h2>
                    <h1 class="title-1 folder-content-title">aeviewer 2.4</h1>
                    <p class="folder-content-description">Free updates included.</p>
                </div>
                <div class="row">
                    <div class="col-lg-2 offset-lg-2">
                        <a href="#" class="link-btn">
                            <span class="link-btn-title">Download</span>
                            <span class="link-btn-detail">aescripts.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folder-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="plugin-social">
                            <a href="https://www.facebook.com/" class="plugin-social-link">Facebook</a>
                            <a href="https://twitter.com/" class="plugin-social-link">Twitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section plugin">
        <div class="poster" style="background-image: url(img/posters/1.jpg);"></div>
        <a href="https://www.youtube.com/watch?v=4nfZ1Jyw3C4" class="player-btn" data-fancybox></a>
        <div class="section-detail">
            <p class="section-detail-link">We create Plug-Ins that simply work.</p>
        </div>
    </section>
    <section class="section new-features">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="title-2 section-title">New features</h2>
                </div>
                <div class="col-sm-2">
                    <div class="section-description">
                        <p>Version 2.4 updates.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="table-overflow">
                        <div class="table-wrap">
                            <table class="table">
                                <tr class="plugin-row">
                                    <td class="td-num">
                                        <span class="table-title">2.4</span>
                                    </td>
                                    <td class="td-title">
                                        <span class="table-title">new Features</span>
                                    </td>
                                    <td class="td-title">
                                        <span class="table-title">Quickly add  files</span>
                                    </td>
                                    <td class="td-content">
                                        <span class="table-content">20+ delightful UI animations for After Effects combined into 6 mobile flows. All ready-to-use AE files.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-num"></td>
                                    <td class="td-title"></td>
                                    <td class="td-title">
                                        <span class="table-title">Mov5</span>
                                    </td>
                                    <td class="td-content">
                                        <span class="table-content">Left Click — add.</span>
                                        <span class="table-content">Right Click — choose from three  options.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-num"></td>
                                    <td class="td-title">
                                        <span class="table-title">bug fixed</span>
                                    </td>
                                    <td class="td-title">
                                        <span class="table-title">ready in 60fps</span>
                                    </td>
                                    <td class="td-content">
                                        <span class="table-content">AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Sketch files with 25 screens. And more.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-num"></td>
                                    <td class="td-title"></td>
                                    <td class="td-title">
                                        <span class="table-title">60+ FILES</span>
                                    </td>
                                    <td class="td-content">
                                        <span class="table-content">Every micro interaction is perfected to create delightful experiences.</span>
                                        <span class="table-content">Some more description.</span>
                                    </td>
                                </tr>
                                <tr class="plugin-row">
                                    <td class="td-num">
                                        <span class="table-title">2.3</span>
                                    </td>
                                    <td class="td-title">
                                        <span class="table-title">new features</span>
                                    </td>
                                    <td class="td-title">
                                        <span class="table-title">avi4</span>
                                    </td>
                                    <td class="td-content">
                                        <span class="table-content">Satisfaction guarantee We offer a full 100% money back guarantee 30 days after pruchase! Risk-free way to get into micro-interaction design. More features inside.</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="products-more __white">
                        <button class="products-more-btn"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-detail">
            <a href="#" class="section-detail-link">For updates</a>
        </div>
    </section>
    //= components/_clients.html
    //= components/_subscription.html
    //= components/_footer.html
</div>
//= components/_scripts.html