//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
    <a href="index.html" class="page-close"></a>
    <div class="section feedback">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <h1 class="title-2 section-title __main-theme">Feedback form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <div class="section-description">
                        <p>Easy Dude. Just Fill in following form please.</p>
                    </div>
                </div>
            </div>
            <div class="form-wrap __feedback">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-container __input">
                                <label for="name" class="input-label">Your name</label>
                                <input type="text" class="input-item" id="name" data-required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-message">
                                <p>Tell us your name please</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-container __input">
                                <label for="email" class="input-label">Email</label>
                                <input type="email" class="input-item" id="email" data-required />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-message">
                                <p>Tell us your email</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <div class="input-container __radio-label">
                                <span class="input-label">Subject</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-container __radio">
                                <div class="radio-groups">
                                <label class="radio-container">
                                    <input type="radio" class="radio-item" name="subject" checked value="Feedback" />
                                    <span class="radio-title">Feedback</span>
                                </label>
                                <label class="radio-container">
                                    <input type="radio" class="radio-item" name="subject" value="Partnership" />
                                    <span class="radio-title">Partnership</span>
                                </label>
                                <label class="radio-container">
                                    <input type="radio" class="radio-item" name="subject" value="Questions" />
                                    <span class="radio-title">Questions</span>
                                </label>
                                <label class="radio-container">
                                    <input type="radio" class="radio-item" name="subject" value="Support" />
                                    <span class="radio-title">Support</span>
                                </label>
                                <label class="radio-container">
                                    <input type="radio" class="radio-item" name="subject" value="Other" />
                                    <span class="radio-title">Other</span>
                                </label>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="input-container __message">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="input-container">
                                            <label for="message" class="input-label">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="input-container __textarea">
                                            <textarea name="message" id="message" cols="10" rows="3" class="textarea-item"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="input-container __input">
                                <label for="file" class="input-label">Attach file</label>
                                <input type="file" id="file" class="input-item" />
                                <label for="file" class="input-item-title">Click to select</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap-action">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-wrap-detail">
                                    <p class="page-description">Some more info about the information and button.</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="link-tab __yellow">Send message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
//= components/_scripts.html