//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
    <section class="section folder">
        <div class="folder-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-1 offset-xl-2 col-2 offset-lg-1">
                        <p class="number">25.10</p>
                        <p class="link-detail">Now 100% money back guarantee 30 days.</p>
                    </div>
                    <div class="col-lg-1 col-2">
                        <a href="news.html" class="default-link">All News</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="folder-content">
            <div class="container">
                <div class="col-4">
                    <h2 class="title-2 folder-content-subtitle">Viewer for</h2>
                    <h1 class="title-1 folder-content-title">Adobe after effects</h1>
                    <p class="folder-content-description">We create Plug-Ins that simply work.</p>
                </div>
            </div>
        </div>
        <div class="folder-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="static-data">
                            <span class="number">24,928</span>
                            <span class="number-detail">Downloads</span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="product-logos">
                            <img src="img/AE-logo.svg" class="product-logos-item" alt="">
                            <img src="img/adobe-logo.svg" class="product-logos-item" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section plugin">
        <div class="poster" style="background-image: url(img/posters/1.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="title-2 section-title yellow">The flow screens  look crisp by  default at all  devices.</h2>
                </div>
            </div>
            <div class="plugin-content">
                <div class="row">
                    <div class="col-2">
                        <div class="plugin-content-item">
                            <p>34 formats supported</p>
                        </div>
                        <div class="plugin-content-item">
                            <p>10 expressions</p>
                        </div>
                        <div class="plugin-content-item">
                            <p>2.4 new version</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="plugin-content-item">
                            <p>24,928 downloads</p>
                        </div>
                        <div class="plugin-content-item">
                            <p>20s setup</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="plugin-action">
                <a href="https://www.youtube.com/watch?v=4nfZ1Jyw3C4" class="player-btn" data-fancybox></a>
            </div>
        </div>
        <div class="section-detail">
            <p class="section-detail-link">We create Plug-Ins that simply work.</p>
        </div>
    </section>
    <section class="section products">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="title-2 section-title">aeviewer® compatible with</h2>
                </div>
                <div class="col-sm-2">
                    <div class="section-description">
                        <p>Products that simply work.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="products-list">
                        <div class="table-overflow">
                            <div class="table-wrap">
                                <div class="table-wrap-bg"></div>
                                <table class="table">
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">Typography Kit</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">Motion Graphics Template Files</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">motion.land</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">mega Big bundle kit</span>
                                        </td>
                                        <td class="td-status">
                                            <span class="table-status">New</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="table-content">UI Motion Kit</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">megavideohive.net</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">ui pack</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">Extrude Isometric Titles</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">megavideohive.net</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">typo motion collection</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">UI Template Files</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">motion.land</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">Extrude Isometric shapes</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">After Effects Project Files</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">uimasternet.com</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">Isometric Titles</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">Big Pack of Typo & Shapes Elements</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">ggle.com</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <span class="table-title">pack xxl</span>
                                        </td>
                                        <td class="td-status"></td>
                                        <td class="td-content">
                                            <span class="table-content">140 Flash FX Elements</span>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <a href="#" class="table-action">Download</a>
                                                <span class="table-content">motion.land</span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="products-more">
                        <button class="products-more-btn"></button>
                        <div class="products-more-description">
                            <p>Plug-Ins that simply work.</p>
                            <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-detail">
            <a href="#" class="section-detail-link">For Partners</a>
        </div>
    </section>
    <section class="section features">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h2 class="title-2 section-title">main features</h2>
                </div>
                <div class="col-sm-2">
                    <div class="section-description">
                        <p>Basic AEviwer features. Discover The Box.</p>
                    </div>
                </div>
            </div>
            <div class="features-list">
                <div class="features-list-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="features-list-content">
                                <div class="features-title">
                                    <p>Quickly add files</p>
                                </div>
                                <div class="features-description">
                                    <p>Left Click — add to your composition. Right Click — choose from three options.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="features-list-preview">
                                <img src="img/features/1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-list-item">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="features-list-content">
                                <div class="features-title">
                                    <p>Favorite scripts</p>
                                </div>
                                <div class="features-description">
                                    <p>Launch your scripts in a few clicks with the fast access.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="features-list-preview">
                                <img src="img/features/2.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-more __white">
                <button class="products-more-btn"></button>
            </div>
        </div>
        <div class="section-detail">
            <a href="#" class="section-detail-link">All features</a>
        </div>
    </section>
    //= components/_clients.html
    //= components/_subscription.html
    //= components/_footer.html
</div>
//= components/_scripts.html