//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
  <section class="section information __page-theme">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <h1 class="title-2 section-title __main-theme">information center</h1>
        </div>
      </div>
      <div class="tabs">
        <div class="row">
          <div class="col-2">
            <button class="tabs-link active" data-tab-link-id="0">
              <span class="tabs-link-title">Tutorials</span>
            </button>
          </div>
          <div class="col-2">
            <button class="tabs-link" data-tab-link-id="1">
              <span class="tabs-link-title">Faq</span>
            </button>
          </div>
        </div>
      </div>
      <div class="tabs-content">
        <div class="tabs-content-item" data-tab-content-id="0">
          //= components/_tutorials.html
        </div>
        <div class="tabs-content-item" data-tab-content-id="1">
          //= components/_faq.html
        </div>
      </div>
    </div>
  </section>
  //= components/_subscription.html
  //= components/_footer.html
</div>
//= components/_scripts.html