//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
    <section class="section new __page-theme">
        <a href="information.html" class="page-close"></a>
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3">
                    <h1 class="title-2 section-title __main-theme">Motion pack updates</h1>
                </div>
            </div>
            <div class="new-wrap">
                <div class="row">
                    <div class="col-md-2">
                        <div class="page-description">
                            <p>04 September 2019</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="page-content">
                            <p>Plug-Ins that simply work.</p>
                            <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Plug-Ins that simply work. AE files with 20+ delightful UI animations combined into 6 animated mobile flows. Sketch files with 25 screens.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="page-nav">
                        <a href="answer.html" class="page-nav-link">
                            <span class="page-nav-link-title">Prev</span>
                            <br />
                            <span class="page-nav-link-description">How to install AEviewer & Other Packs</span>
                        </a>
                        <a href="answer.html" class="page-nav-link">
                            <span class="page-nav-link-title">Next</span>
                            <br />
                            <span class="page-nav-link-description">What does it give</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
//= components/_scripts.html