//= components/_head.html
//= components/_header.html
//= components/_nav.html
<div class="page">
    <section class="section news">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="static-data news-updated">
                        <span class="number">sep 2019</span>
                        <span class="number-detail">Updated</span>
                    </div>
                </div>
            </div>
            <div class="news-wrap">
                <div class="row">
                    <div class="col-4">
                        <h1 class="title-1 page-title section-title __main-theme">News</h1>
                        <div class="table-overflow">
                            <div class="table-wrap __news">
                                <div class="table-wrap-bg"></div>
                                <table class="table">
                                    <tr>
                                        <td class="td-title">
                                            <a href="new.html" class="table-title">How to install aeviewer & motion pack</a>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <span class="table-content">20 September 2019</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <a href="new.html" class="table-title">motion pack updates</a>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <span class="table-content">01 September 2019</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <a href="new.html" class="table-title">new partners. new features</a>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <span class="table-content">24 August 2019</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <a href="new.html" class="table-title">inside the toolbox</a>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <span class="table-content">16 August 2019</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-title">
                                            <a href="new.html" class="table-title">new version of aeviewer</a>
                                        </td>
                                        <td class="td-content">
                                            <span class="td-content-action">
                                                <span class="table-content">02 August 2019</span>
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    //= components/_subscription.html
    //= components/_footer.html
</div>
//= components/_scripts.html