.bold{
  font-family: "Helvetica-Bold", sans-serif, Arial;
}
.suprapower{
  font-family: "Suprapower-Heavy", sans-serif, Arial;
}

.title-1{
  @extend h1;
}
.title-2{
  @extend h2;
}

.yellow{
  color: $yellow;
}
.gray{
  color: $gray;
}