@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica-Bold.eot");
  src: url("../fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Helvetica-Bold.otf") format("opentype"),
  url("../fonts/Helvetica-Bold.svg") format("svg"),
  url("../fonts/Helvetica-Bold.woff") format("woff"),
  url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Suprapower-Heavy";
  src: url("../fonts/Suprapower-Heavy.eot");
  src: url("../fonts/Suprapower-Heavy.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Suprapower-Heavy.otf") format("opentype"),
  url("../fonts/Suprapower-Heavy.svg") format("svg"),
  url("../fonts/Suprapower-Heavy.woff") format("woff"),
  url("../fonts/Suprapower-Heavy.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}