.answer{
  background-color: $white;
    &-wrap{
      padding: 10px 0;
        &-tutorials{
          padding: 28px 0;
        }
    }
    .__main-theme{
      margin-top: 4px;
    }
    .page{
        &-description{
          max-width: 330px;
            @include d(767){
              max-width: 100%;
            }
        }
        &-content{
          max-width: 410px;
            &.conclusion{
              max-width: 750px;
            }
            @include d(767){
              max-width: 100%;
            }
        }
    }
    .col-4{
        .tutorial-item-preview{
          height: 240px;
        }
    }
}