.contacts{
  background-color: $yellow;
    .folder{
        &-header{
          padding: 41px 0;
            .visible-md{
              display: none;
            }
            .link-lg{
              margin-bottom: 20px;
              max-width: 200px;
            }
            @include d(991){
                .visible-md{
                  display: inline-block;
                }
            }
        }
        &-content{
          margin: -16.6vh auto 0;
            &-title{
              margin: 13px 0 85px;
            }
            .link-lg{
              max-width: 200px;
            }
            .plugin-social{
              justify-content: flex-end;
              padding: 0 34px;
            }
        }
    }
}