.done{
  background-color: $yellow;
    .folder{
        &-content{
          margin: -10.5vh auto 0;
            &-title{
              margin: 13px 0 90px;
            }
            &-description{
              text-align: left;
              padding-bottom: 3px;
              width: 200px;
            }
        }
        &-header{
            .visible-md{
              display: none;
            }
            .folder-content-description{
              padding: 0 20px 3px;
              width: 100%;
            }
            @include d(991){
                .visible-md{
                  display: block;
                }
            }
        }
    }
}