.downloads{
    .folder{
        &-header{
            padding: 40px 0;
            .number{
              margin-bottom: 0;
            }
        }
        &-content{
            margin: -7.7vh auto 0;
                &-subtitle{
                    margin: 0;
                }
                .link-btn{
                    max-width: calc(100% + 80px);
                    width: auto;
                    margin: 59px -40px 0 -40px;
                }
        }
        &-footer{
            padding: 31px 0;
        }
    }
    .plugin{
        min-height: 500px;
            .player-btn{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            @include d(576){
                min-height: 70vw;
            }
    }
    .section-detail{
        color: $gray;
    }
}