.feedback{
  background-color: $white;
  padding-bottom: 85px;
    .section-title{
      max-width: 450px;
      margin-bottom: 67px;
    }
}

.form-wrap{
    &-detail{
      max-width: 200px;
      padding: 1px 0;
    }
    &-action{
      padding: 42px 0 0;
        @include d(767){
          padding: 10px 0 0;
        }
    }
    &.__feedback{
      padding: 55px 0;
        .input{
            &-container{
              display: flex;
              align-items: center;
              margin-bottom: 18px;
                &:before{
                  background-color: $gray;
                }
                &.__input{
                    .input-item,
                    .input-label{
                      width: 50%;
                    }
                    @include d(575){
                      flex-direction: column;
                      align-items: flex-start;
                        .input-item,
                        .input-label{
                          width: 100%;
                        }
                    }
                }
                &.__radio{
                  margin-left: -40px;
                    &-label{
                        @include d(767){
                            &:before{
                              display: none;
                            }
                        }
                    }
                    &:before{
                      left: -40px;
                      width: calc(100% + 40px);
                    }
                    .input-label{
                      width: 23%;
                    }
                    @include d(767){
                      margin-left: 0;
                        &:before{
                          left: 0;
                          width: 100%;
                        }
                    }
                    @include d(575){
                      margin-bottom: 20px;
                    }
                }
                &.__message{
                  display: block;
                  margin-bottom: -2px;
                    &:before{
                      display: none;
                    }
                    &:after{
                      content: '';
                      position: absolute;
                      top: 60px;
                      right: 0;
                      left: 0;
                      bottom: 0;
                      background-repeat: repeat;
                      background-position: center top;
                      background-image: url(../img/textarea-mask.svg);
                      pointer-events: none;
                    }
                    .input{
                        &-container{
                          padding-top: 20px;
                        }
                        &-label{
                          line-height: 40px;
                        }
                    }
                    @include d(575){
                      margin-bottom: 20px;
                        .input-container{
                            &:before{
                              display: none;
                            }
                        }
                        &:after{
                          display: none;
                        }
                        &:before{
                          display: block;
                        }
                    }
                }
                &.__textarea{
                  margin-left: -40px;
                  transition: padding .1s ease;
                  padding-top: 25px;
                    &:before{
                      display: none;
                    }
                    &.padding{
                      padding-top: 28px;
                        @include d(576){
                          padding-top: 10px;
                        }
                    }
                    @include d(767){
                      margin-left: 0;
                    }
                }
                @include d(767){
                  margin-bottom: 0;
                }
            }
            &-message{
              padding: 20px 0 0 0;
              margin-left: -40px;
                @include d(767){
                  margin-left: 0;
                  padding: 3px 0;
                }
            }
        }
        .radio{
            &-container{
              margin: 0 40px 0 0;
                &:last-child{
                  margin-right: 0;
                }
                @include d(575){
                  margin: 10px 20px 10px 0;
                }
            }
        }
        .textarea-item{
          height: 120px;
          line-height: 41px;
          padding: 0;
          overflow: hidden;
          resize: none;
        }
        @include d(575){
            .textarea-item{
              height: 96px;
              line-height: 2em;
            }
        }
    }
    .link{
        &-tab{
          width: calc(100% + 40px);
          margin-left: -40px;
            @include d(767){
              margin-left: 0;
              width: 100%;
            }
        }
    }
}