body{
  background-color: $black;
  @extend .bold;
  //overflow: hidden;
}

h1{
  @extend .suprapower;
  font-size: 110px;
  text-transform: uppercase;
  letter-spacing: -.02em;
  line-height: 0.855em;
    @include d(1590){
      font-size: 100px;
    }
    @include d(1500){
      font-size: 90px;
    }
    @include d(1400){
      font-size: 80px;
    }
    @include d(1300){
      font-size: 70px;
    }
    @include d(1200){
      font-size: 60px;
    }
    @include d(576){
      font-size: 40px;
    }
    @include d(350){
      font-size: 32px;
    }
}

h2{
  @extend h1;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: -.02em;
  text-transform: uppercase;
    @include d(1590){
      font-size: 40px;
    }
    @include d(1500){
      font-size: 36px;
    }
    @include d(1400){
      font-size: 34px;
    }
    @include d(1300){
      font-size: 32px;
    }
    @include d(1200){
      font-size: 30px;
    }
    @include d(576){
      font-size: 30px;
    }
    @include d(350){
      font-size: 24px;
    }
}

p, li{
  font-size: 12px;
  letter-spacing: -.02em;
  line-height: 1.667em;
}

#wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container{
  padding: 0 40px;
  position: relative;
  max-width: 1220px;
  width: 100%;
    @include d(767){
      padding: 0 20px;
    }
}

.page{
  padding-left: 500px;
    &-close{
      @extend .fancybox-button;
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 1;
        &.__white{
          background-color: $white;
        }
        @include d(1200){
          top: 20px;
          right: 20px;
        }
        @include d(991){
          display: none;
        }
    }
    &-description{
      font-size: 12px;
      color: $gray;
        p{
          font-size: inherit;
          line-height: 2em;
        }
        @include d(767){
          padding: 0 0 20px;
        }
    }
    &-content{
      font-size: 20px;
      color: $gray;
        p{
          line-height: 1.5em;
          font-size: inherit;
        }
        &.conclusion{
          text-align: center;
          margin: 0 auto;
          max-width: 750px;
          padding: 18px 0;
        }
        @include d(1440){
          font-size: 18px;
        }
        @include d(1300){
          font-size: 16px;
        }
        @include d(991){
          font-size: 14px;
        }
    }
    &-nav{
      padding: 174px 0 37px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
        &-link{
          //display: inline-flex;
          //flex-direction: column;
          margin: 0 30px;
          transition: color .4s ease;
          width: 180px;
            &-title{
              text-transform: uppercase;
              @extend .suprapower;
              font-size: 12px;
              margin-bottom: 15px;
              position: relative;
              display: inline-block;
                &:before{
                  content: '';
                  position: absolute;
                  bottom: -2px;
                  right: 0;
                  width: 0;
                  height: 2px;
                  background-color: currentColor;
                  transition: width .4s ease;
                }
            }
            &-description{
              font-size: 12px;
              line-height: 2em;
              color: $gray;
              transition: color .4s ease;
                @include d(480){
                  font-size: 11px;
                }
            }
            &:nth-child(1){
              margin-left: 0;
              justify-content: flex-end;
              text-align: right;
                .page-nav-link-title,
                .page-nav-link-description{
                  text-align: right;
                }
            }
            &:last-child{
              margin-right: 0;
            }
            @include d(480){
              margin: 0 10px;
            }
            @include hover(1024){
                &:hover{
                  .page-nav-link{
                      &-title{
                        &:before{
                          width: 100%;
                        }
                      }
                      &-description{
                        color: $black;
                      }
                  }
                }
            }
        }
        @include d(991){
          padding: 100px 0 30px;
        }
    }
    &-title{
      text-align: center;
    }
    @include d(1590){
      padding-left: 470px;
    }
    @include d(1500){
      padding-left: 420px;
    }
    @include d(1400){
      padding-left: 390px;
    }
    @include d(1300){
      padding-left: 350px;
    }
    @include d(1200){
      padding-left: 320px;
    }
    @include d(991){
      padding-left: 0;
    }
}

.section{
  position: relative;
  padding: 40px 0;
  overflow-x: hidden;
    &-description{
      color: $gray;
        p{
          line-height: 1.667em;
        }
    }
    &-detail{
      position: absolute;
      bottom: 29px;
      left: 50%;
      transform: translate(-50%,0);
      padding: 0 40px;
      width: 100%;
      max-width: 1220px;
        &-link{
          font-size: 12px;
          line-height: 1.667em;
          text-transform: capitalize;
          position: relative;
            &:before{
              content: '';
              position: absolute;
              bottom: 2px;
              right: 0;
              width: 0;
              height: 2px;
              background-color: currentColor;
              transition: width .4s ease;
            }
        }
        a.section-detail-link{
          @include hover(1024){
            &:hover{
              &:before{
                width: 100%;
              }
            }
          }
        }
        @include d(767){
          padding: 0 20px;
        }
        @include d(480){
          bottom: 20px;
        }
    }
    &-title{
        @include d(576){
          margin-bottom: 20px;
        }
        &.__main-theme{
            @include d(991){
              display: none;
            }
        }
    }
    &.__page-theme{
      padding: 36px 0 0;
        .__main-theme{
          margin-bottom: 48px;
        }
    }
    @include d(991){
      padding: 60px 0;
    }
    @include d(480){
      padding: 40px 0;
    }
}

.default-link{
  display: inline-block;
  @extend .bold;
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: -.02em;
  line-height: 1.4em;
  position: relative;
    &:before{
      content: '';
      position: absolute;
      bottom: 1px;
      right: 0;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transition: width .4s ease;
    }
    @include hover(1024){
      &:hover{
        &:before{
          width: 100%;
        }
      }
    }
}

.link{
  text-transform: uppercase;
  @extend .suprapower;
  font-size: 12px;
  letter-spacing: -.02em;
  line-height: 1.4em;
  position: relative;
    .detail{
      @extend .bold;
      text-transform: none;
    }
    &-btn{
      width: 100%;
      max-width: 328px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $black;
      color: $white;
      height: 60px;
      padding: 10px 39px;
      transition: background-color .4s ease, color .4s ease;
        &-title{
          text-transform: uppercase;
          @extend .suprapower;
          font-size: 12px;
        }
        &-detail{
          @extend .bold;
          font-size: 12px;
          color: $gray;
          transition: color .4s ease;
          position: relative;
          padding-left: 15px;
            &:before{
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              width: 0;
              height: 0;
              transform: translate(-5px,-50%);
              border-color: transparent transparent transparent $white;
              border-style: solid;
              border-width: 4px 0 4px 6px;
              transition: opacity .4s ease, transform .4s ease;
              opacity: 0;
            }
        }
        @include d(991){
          padding: 10px 26px;
        }
        @include hover(1024){
          &:hover{
            background-color: $black;
            color: $yellow;
              .link-btn-detail{
                color: $white;
                  &:before{
                    opacity: 1;
                    transform: translate(0,-50%);
                  }
              }
          }
        }
    }
    &-tab{
      text-transform: uppercase;
      @extend .suprapower;
      font-size: 12px;
      height: 60px;
      padding: 10px 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      transition: background-color .4s ease, color .4s ease;
        &.__yellow{
          background-color: $yellow;
          color: $black;
            @include hover(1024){
                &:hover{
                  background-color: $black;
                  color: $white;
                }
            }
        }
    }
    &-lg{
      font-size: 22px;
      text-transform: uppercase;
      @extend .suprapower;
        .word{
          position: relative;
          display: inline-block;
            &:before{
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              width: 0;
              height: 2px;
              background-color: currentColor;
              transition: width .4s ease;
            }
        }
        @include hover(991){
            &:hover{
                .word{
                  &:before{
                    width: 100%;
                  }
                }
            }
        }
    }
}

.icon{
  width: 15px;
  height: 15px;
  fill: $black;
}

.logo{
    &-mark{
      text-align: center;
        &:hover{
            #logo-mark{
              animation: jump;
              animation-duration: 1.8s;
              animation-timing-function: ease;
              animation-delay: 0s;
              animation-iteration-count: 1;
              animation-direction: normal;
            }
            #logo-mark-shadow{
              animation-name: scale;
              animation-duration: 1.8s;
              animation-timing-function: ease;
              animation-delay: 0s;
              animation-iteration-count: 1;
              animation-direction: normal;
            }
        }
    }
}

#logo-mark{
  width: 100px;
  margin: 0 auto 23px;
  will-change: transform;
    &-shadow{
      width: 40px;
      margin: 0 auto;
      will-change: transform;
        @include d(1400){
          width: 30px;
        }
        @include d(991){
          width: 40px;
        }
        @media only screen and (max-height: 630px) and (max-width: 480px) {
          width: 30px;
        }
    }
    @include d(1400){
      width: 90px;
      margin: 0 auto 15px;
    }
    @include d(991){
      width: 100px;
      margin: 0 auto 23px;
    }
    @media only screen and (max-height: 630px) and (max-width: 480px) {
      width: 80px;
      margin: 0 auto 15px;
    }
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-15px);
  }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes scale {
  0%{
    transform: scaleX(1);
  }
  20%{
    transform: scaleX(1);
  }
  40%{
    transform: scaleX(.8);
  }
  50%{
    transform: scaleX(1.4);
  }
  60%{
    transform: scaleX(.98);
  }
  80%{
    transform: scaleX(1);
  }
  100%{
     transform: scaleX(1);
  }
}

.number{
  @extend .suprapower;
  font-size: 22px;
  letter-spacing: -.02em;
  line-height: 1.3em;
  text-transform: uppercase;
    &-detail{
      font-size: 12px;
    }
}

.static-data{
  display: flex;
  align-items: center;
    .number{
      margin-right: 16px;
    }
}

.product-logos{
  display: flex;
  justify-content: flex-end;
    &-item{
      display: inline-block;
      max-width: 124px;
      height: auto;
      width: auto;
      margin: 0 0 0 20px;
        &:nth-child(1){
          margin-left: 0;
        }
        @include d(1200){
          max-height: 90px;
        }
    }
    @include d(575){
      justify-content: center;
    }
}

.poster{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.table{
    &-title{
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.667em;
      @extend .suprapower;
      display: inline-block;
      color: inherit;
      position: relative;
    }
    &-content{
      font-size: 12px;
      line-height: 1.667em;
      display: inline-block;
      color: inherit;
      position: relative;
    }
    &-action{
      line-height: 1.667em;
      font-size: 12px;
      position: relative;
      padding: 0 43px 0 0;
      margin: 0 25px 0 0;
      display: inline-block;
      color: inherit;
      opacity: 0;
      transform: translate(-5px,0);
      transition: opacity .4s ease, transform .4s ease;
        //&:before{
        //  content: '';
        //  position: absolute;
        //  top: 5px;
        //  right: 0;
        //  width: 0;
        //  height: 0;
        //  border-style: solid;
        //  border-width: 4px 0 4px 6px;
        //  border-color: transparent transparent transparent $white;
        //  transition: transform .4s ease;
        //}
        //@include hover(1024){
        //    &:hover{
        //        &:before{
        //          transform: translate(5px,0);
        //        }
        //    }
        //}
        @include d(1300){
          padding: 0 25px 0 0;
        }
        @include d(767){
          opacity: 1;
          transform: translate(0,0);
            //&:before{
            //  border-color: transparent transparent transparent $black;
            //  transform: translate(0,0);
            //}
        }
    }
    &-status{
      font-size: 6px;
      text-transform: uppercase;
      line-height: 20px;
      background-color: $yellow;
      border-radius: 10px;
      text-align: center;
      padding: 0 6px;
      max-width: 40px;
      width: 100%;
      display: inline-block;
      color: $black;
      position: relative;
    }
    &-wrap{
      position: relative;
        &-bg{
          position: absolute;
          top: 0;
          height: 0;
          left: -50vw;
          right: -50vw;
          background-color: $black;
          pointer-events: none;
          transition: top .4s ease, height .4s ease;
            @include d(767){
              display: none;
            }
        }
        &.__news{
            .table{
                &-title{
                  font-size: 22px;
                    @include d(1440){
                      font-size: 20px;
                    }
                    @include d(1200){
                      font-size: 18px;
                    }
                }
                &-content{
                  transition: padding-right .4s ease;
                }
            }
            .td{
                &-title{
                  width: auto;
                }
                &-content-action{
                    .table-content{
                      position: relative;
                        &:before{
                          content: '';
                          position: absolute;
                          top: 50%;
                          right: 4px;
                          width: 0;
                          height: 0;
                          transform: translate(10px,-50%);
                          border-color: transparent transparent transparent $white;
                          border-style: solid;
                          border-width: 4px 0 4px 6px;
                          opacity: 0;
                          transition: opacity .4s ease, transform .4s ease;
                        }
                    }
                }
            }
            tr{
                @include hover(767){
                    &:hover{
                        .td-content-action{
                            .table-content{
                              padding-right: 30px;
                                &:before{
                                  transform: translate(0,-50%);
                                  opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        @include d(576){
          min-width: 700px;
          padding: 0 20px;
        }
    }
    &-overflow{
      @include d(576){
        overflow-x: auto;
        margin-right: -20px;
        margin-left: -20px;
      }
    }
    td{
      border-bottom: 2px $black solid;
      padding-top: 19px;
      padding-bottom: 19px;
      color: $black;
      transition: color .4s ease;
        &:last-child{
          text-align: right;
        }
    }
    .gray{
      @extend .gray;
    }
    tr{
        @include hover(767){
            &:hover{
              td{
                color: $white;
              }
              .table-action{
                transform: translate(0,0);
                opacity: 1;
              }
            }
        }
    }
}

.td{
    &-title{
      width: 27%;
    }
    &-content{
      //width: 23%;
      padding-left: 50px;
        &-action{
          display: inline-flex;
          align-items: center;
        }
        @include d(1200){
          padding-left: 20px;
        }
    }
}

.copyright{
  text-align: right;
    @include d(480){
      text-align: center;
    }
}

.form{
    &-wrap{
      padding: 8px 0;
        &-detail{
            p{
              line-height: 2em;
            }
        }
        .row{
            &.__is-empty{
              .input-message{
                opacity: 1;
              }
            }
        }
    }
    &-btn{
      width: 80px;
      height: 80px;
      border: none;
      background-color: $black;
      padding: 0;
      text-align: center;
      line-height: 80px;
      border-radius: 50%;
      font-size: 12px;
      text-transform: uppercase;
      @extend .suprapower;
      color: $white;
      letter-spacing: -.02em;
      transition: transform.4s ease, color .4s ease;
        @include d(1400){
          width: 70px;
          height: 70px;
          line-height: 70px;
        }
        @include hover(1024){
            &:hover{
              transform: scale(1.1);
              color: $yellow;
            }
        }
    }
}

.input{
    &-container{
      position: relative;
      padding: 0 0 2px;
      display: block;
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $black;
        }
    }
    &-label{
      display: inline-block;
      white-space: nowrap;
      font-size: 12px;
      text-transform: uppercase;
      @extend .suprapower;
      line-height: 60px;
        @include d(575){
          line-height: 2em;
        }
    }
    &-message{
      opacity: 0;
      transition: opacity .2s ease;
      color: $red;
    }
    &-item{
      width: 100%;
      background-color: transparent;
      border: none;
      @extend .bold;
      font-size: 12px;
      letter-spacing: -.02em;
      color: $black;
      height: 60px;
        &[type="file"]{
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
        &-title{
          line-height: 60px;
          font-size: 12px;
        }
        &:focus{
          outline: none;
        }
        &::-webkit-input-placeholder {
          color: $black;
        }
        &::-moz-placeholder {
          color: $black;
        }
        &:-ms-input-placeholder {
          color: $black;
        }
        &:-moz-placeholder {
          color: $black;
        }
    }
}

.radio{
    &-groups{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &-container{
      display: inline-flex;
      cursor: pointer;
      line-height: 60px;
        @include d(575){
          line-height: 30px;
          margin-top: 10px;
        }
    }
    &-item{
      width: 10px;
      height: 10px;
      position: absolute;
      opacity: 0;
        &:checked{
            & ~ .radio-title{
              color: $black;
              opacity: 1;
            }
        }
    }
    &-title{
      font-size: 12px;
      color: $gray;
      transition: color .2s ease, opacity .2s ease;
      opacity: .4;
    }
}

.textarea{
    &-item{
      @extend .input-item;
      padding: 24px 0;
    }
}

.burger{
  border: none;
  background-color: transparent;
  padding: 2px 5px;
  display: none;
  font-size: 12px;
  margin: 0 -5px 0 15px;
  height: 16px;
  overflow: hidden;
  flex-direction: column;
    &-title{
      transition: transform .4s ease, opacity .4s ease;
        &:last-child{
          margin-bottom: 0;
        }
        &.__open-theme-title{
          opacity: 0;
        }
    }
    &.__open-theme{
        .burger-title{
          transform: translate(0,-100%);
          opacity: 0;
            &.__open-theme-title{
              opacity: 1;
            }
        }
    }
    @include d(991){
      display: inline-flex;
    }
    @include d(350){
      margin: 0 -5px 0 5px;
    }
}

@media only screen and (max-width: 767px) {
  .row{
    margin-left: -20px;
    margin-right: -20px;
  }
  div[class^="col"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fancybox{
    &-toolbar{
      top: 40px;
      right: 40px;
        @include d(1200){
          top: 10px;
          right: 10px;
        }
    }
    &-bg{
      background-color: $black;
    }
    &-is-open {
        .fancybox-bg{
          opacity: 1;
        }
    }
    &-button{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $yellow;
      background-repeat: no-repeat;
      background-size: 40%;
      background-position: center;
      background-image: url(../img/close.svg);
      transition: transform .4s ease;
        svg{
          display: none;
        }
        @include hover(1024){
            &:hover{
              transform: rotate(360deg);
            }
        }
        @include d(1200){
          width: 40px;
          height: 40px;
        }
        @include d(576){
          width: 30px;
          height: 30px;
        }
    }
}