.news{
  background-color: $yellow;
    &-wrap{
      padding: 258px 0 10px;
        @include d(1600){
          padding: 26vh 0 10px;
        }
        @include d(991){
          padding: 50px 0;
        }
    }
    &-updated{
      margin: -3px 0;
    }
    .table-wrap{
      margin: 62px 0 95px;
    }
    @include d(991){
        .table-wrap{
          margin: 0;
        }
    }
}