.new{
  background-color: $white;
  min-height: 100vh;
    &-wrap{
      padding: 17px 0;
      min-height: 52vh;
    }
    .page{
        &-content{
          max-width: 410px;
        }
    }
    .__main-theme{
      margin-top: 4px;
    }
    @include d(991){
      min-height: 10px;
    }
}