<section class="section clients">
  <div class="clients-list">
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/microsoft.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/nyu.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/red-giant.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/b.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/zyxel.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/inno-games.png" alt="">
    </a>
    <a href="#" target="_blank" class="clients-list-item">
      <img src="img/clients/trans-cosmos.png" alt="">
    </a>
    <div class="clients-list-item">
      <div class="products-more __gray">
        <button class="products-more-btn"></button>
      </div>
    </div>
  </div>
</section>