<div class="row">
  <div class="col-4">
    <div class="tab-title">
      <p>Faq</p>
    </div>
  </div>
</div>
<div class="faq-list">
  <div class="table-wrap">
    <div class="table-wrap-bg"></div>
    <div class="row">
      <div class="col-4">
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">create videos in a min</p>
        </a>
        <a href="answer-shot.html" class="faq-list-item">
          <p class="faq-title">How to install aeviewer & motion pack</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">what does it give</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">inside the toolbox aeviewer</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">make super videos</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">better to use aeviewer</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">updates & support</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">create videos in a min</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">How to install aeviwer & motion pack</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">what does it give</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">inside the toolbox aeviewer</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">make super videos</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">better to use aeviewer</p>
        </a>
        <a href="answer.html" class="faq-list-item">
          <p class="faq-title">updates & support</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 offset-lg-2">
        <a href="feedback.html" class="link-tab __yellow">Ask question</a>
      </div>
    </div>
  </div>
</div>