<footer class="footer">
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="copyright">
        <p>&copy; 2017—2019. AEviewer. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
</footer>
