<header class="header">
    <div class="container">
        <div class="header-panel">
            <a href="index.html" class="header-panel-logo">
                <img src="img/logo.svg" alt="Aeviewer" />
            </a>
            <div class="header-panel-user">
                <a href="#" class="default-link">Discover The Box.</a>
                <button class="burger">
                    <span class="burger-title">Menu</span>
                    <span class="burger-title __open-theme-title">Close</span>
                </button>
            </div>
        </div>
    </div>
</header>