<section class="nav">
    <div class="container">
        <div class="nav-preview">
            <div class="logo-mark">
                <img src="img/logoMark.svg" id="logo-mark" alt="">
                <img src="img/logoMark-shadow.svg" id="logo-mark-shadow" alt="">
            </div>
        </div>
        <div class="table-wrap">
            <div class="table-wrap-bg"></div>
            <div class="nav-list">
                <ul>
                    <li>
                        <a href="index.html" class="active">
                            <span class="nav-list-title">
                                <span class="link-title">Home</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="information.html">
                            <span class="nav-list-title">
                                <span class="link-title">Information</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="news.html">
                            <span class="nav-list-title">
                                <span class="link-title">News</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="downloads.html">
                            <span class="nav-list-title">
                                <span class="link-title">Downloads</span>
                            </span>
                            <span class="detail">Version 2.4 available</span>
                        </a>
                    </li>
                    <li>
                        <a href="contacts.html">
                            <span class="nav-list-title">
                                <span class="link-title">Contacts</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-content">
            <div class="nav-content-title"></div>
            <p class="folder-content-description">Desktop, please.</p>
            <a href="#" class="link-btn">
                <span class="link-btn-title">Download</span>
                <span class="link-btn-detail">aescripts.com</span>
            </a>
        </div>
        <div class="nav-social">
            <a href="https://www.facebook.com/" target="_blank" class="nav-social-link">
                <span class="nav-social-link-title">Facebook</span>
            </a>
            <a href="https://twitter.com/" target="_blank" class="nav-social-link">
                <svg class="icon">
                    <use xlink:href="img/sprite.svg#twitter"></use>
                </svg>
                <span class="nav-social-link-title">Twitter</span>
            </a>
            <a href="https://videohive.net/" target="_blank" class="nav-social-link">
                <span class="nav-social-link-title">VideoHive</span>
            </a>
        </div>
    </div>
</section>