<section class="section subscription">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <h2 class="title-2 section-title">Join subscription for special offers</h2>
        <div class="form-wrap">
          <form>
            <label class="input-container">
              <input type="text" class="input-item" placeholder="Email" />
            </label>
            <button class="form-btn">Ok</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>