<div class="row">
  <div class="col-4">
    <div class="tab-title">
      <p>Tutorials</p>
    </div>
  </div>
</div>
<div class="tutorials-list">
  <div class="row">
    <div class="col-sm-2">
      <div class="filters">
        <div class="filters-title">
          <p>Show</p>
        </div>
        <div class="filters-list">
          <button class="filters-list-item active">All</button>
          <button class="filters-list-item">Free lessons</button>
          <button class="filters-list-item">Compatible Products</button>
          <button class="filters-list-item">Other</button>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/2.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">4:09</p>
            <p class="tutorial-type">Free lessons</p>
          </div>
          <p class="tutorial-title">create videos in a min</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/3.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">3:20</p>
            <p class="tutorial-type">Tutorials</p>
          </div>
          <p class="tutorial-title">installation</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/4.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">1:40</p>
            <p class="tutorial-type">Products</p>
          </div>
          <p class="tutorial-title">motion land bundle</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/5.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">2:20</p>
            <p class="tutorial-type">Products</p>
          </div>
          <p class="tutorial-title">big motion pack</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/6.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">4:30</p>
            <p class="tutorial-type">Free lessons</p>
          </div>
          <p class="tutorial-title">videos creative in a min</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/7.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">3:22</p>
            <p class="tutorial-type">Free lessons</p>
          </div>
          <p class="tutorial-title">compilation</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/3.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">2:45</p>
            <p class="tutorial-type">Free lessons</p>
          </div>
          <p class="tutorial-title">bundle & big motion pack</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="tutorial-item">
        <div class="tutorial-item-preview">
          <img src="img/posters/10.jpg" alt="">
          <a href="https://www.youtube.com/watch?v=onp2cr21lgA" class="player-btn" data-fancybox></a>
        </div>
        <div class="tutorial-item-content">
          <div class="tutorial-detail">
            <p class="tutorial-time">3:50</p>
            <p class="tutorial-type">Free lessons</p>
          </div>
          <p class="tutorial-title">features & hacks for ae</p>
          <p class="tutorial-description">Some description about tutorial and video inside.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lessons">
  <div class="row">
    <div class="col-sm-2">
      <h2 class="title-2 section-title">More lessons</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="table-overflow">
        <div class="table-wrap">
          <div class="table-wrap-bg"></div>
          <table class="table">
            <tr>
              <td class="td-title">
                <a href="#" class="table-title">Lesson one</a>
              </td>
              <td class="td-status"></td>
              <td class="td-content gray">
                <span class="table-content">Motion Graphics Template Files</span>
              </td>
              <td class="td-content">
                <span class="table-content">3:45</span>
              </td>
              <td class="td-content">
                <span class="table-content">Free lessons</span>
              </td>
            </tr>
            <tr>
              <td class="td-title">
                <a href="#" class="table-title">name of the lesson</a>
              </td>
              <td class="td-status">
                <span class="table-status">Top</span>
              </td>
              <td class="td-content gray">
                <span class="table-content">UI Motion Kit</span>
              </td>
              <td class="td-content">
                <span class="table-content">2:15</span>
              </td>
              <td class="td-content">
                <span class="table-content">Products</span>
              </td>
            </tr>
            <tr>
              <td class="td-title">
                <a href="#" class="table-title">mega tutorial</a>
              </td>
              <td class="td-status">
                <span class="table-status">Top</span>
              </td>
              <td class="td-content gray">
                <span class="table-content">Extrude Isometric Titles</span>
              </td>
              <td class="td-content">
                <span class="table-content">5:40</span>
              </td>
              <td class="td-content">
                <span class="table-content">Free lessons</span>
              </td>
            </tr>
            <tr>
              <td class="td-title">
                <a href="#" class="table-title">typo super collection</a>
              </td>
              <td class="td-status"></td>
              <td class="td-content gray">
                <span class="table-content">UI Template Files</span>
              </td>
              <td class="td-content">
                <span class="table-content">2:54</span>
              </td>
              <td class="td-content">
                <span class="table-content">Products</span>
              </td>
            </tr>
            <tr>
              <td class="td-title">
                <a href="#" class="table-title">How to</a>
              </td>
              <td class="td-status"></td>
              <td class="td-content gray">
                <span class="table-content">After Effects Project Files</span>
              </td>
              <td class="td-content">
                <span class="table-content">3:14</span>
              </td>
              <td class="td-content">
                <span class="table-content">Products</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="products-more">
        <button class="products-more-btn"></button>
        <div class="products-more-description">
          <p>Plug-Ins that simply work.</p>
          <p>AE files with 20+ delightful UI animations combined into 6 animated mobile flows.</p>
        </div>
      </div>
    </div>
  </div>
</div>