.clients{
  padding: 0;
    &-list{
      display: flex;
      flex-wrap: wrap;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
        &-item{
          width: 25%;
          height: 250px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: #101010;
          border-right: 2px #202020 solid;
          border-bottom: 2px #202020 solid;
          transition: background-color .4s ease;
            &:nth-child(4n){
              border-right: none;
            }
            img{
              max-height: 106px;
              max-width: 163px;
            }
            @include d(1500){
              height: 220px;
            }
            @include d(1400){
              height: 200px;
                img{
                  max-height: 50%;
                  max-width: 65%;
                }
            }
            @include d(1300){
              height: 180px;
            }
            @include d(1200){
              height: 160px;
            }
            @include d(575){
              width: 50%;
              height: 27vw;
            }
            @include d(480){
              height: 35vw;
            }
            @include d(350){
              height: 40vw;
            }
        }
    }
    @include d(991){
      padding: 0;
    }
    @include d(480){
      padding: 0;
    }
}

a.clients-list-item{
  @include hover(1024){
    &:hover{
      background-color: #1D1D1D;
    }
  }
}