.faq{
    &-list{
      margin: -5px 0 75px;
        &-item{
          position: relative;
          padding: 21px 0;
          border-bottom: 2px $black solid;
          transition: color .4s ease;
          display: block;
            @include hover(767){
                &:hover{
                  color: $white;
                }
            }
            @include d(1200){
              padding: 17px 0;
            }
        }
        .link-tab{
          margin: 55px 0 0 -40px;
        }
        @include d(991){
            .link-tab{
              margin: 55px 0 0;
            }
        }
        @include d(576){
            .table-wrap{
              min-width: 100%;
              padding: 0;
            }
        }
    }
    &-title{
      text-transform: uppercase;
      @extend .suprapower;
      font-size: 22px;
        @include d(1300){
          font-size: 20px;
        }
        @include d(1200){
          font-size: 18px;
        }
        @include d(575){
          font-size: 16px;
        }
        @include d(350){
          font-size: 14px;
        }
    }
}