.features{
  color: $white;
  min-height: 100vh;
    &-list{
      padding: 20px 0 24px;
        &-item{
          position: relative;
          padding: 43px 0;
            &:before{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $gray;
            }
            &:after{
              content: attr(data-num);
              position: absolute;
              top: 49px;
              left: 0;
              font-size: 12px;
              color: $gray;
            }
            &:last-child{
              padding-bottom: 0;
                &:before{
                  display: none;
                }
            }
            @include d(480){
                &:after{
                  top: 46px;
                }
            }
        }
        &-content{
          text-align: center;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0 0 31px;
        }
        &-preview{
            img{
              margin: 0 auto;
            }
        }
    }
    &-title{
      max-width: 150px;
      margin: 0 auto 22px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 1.35em;
      @extend .suprapower;
    }
    &-description{
      max-width: 250px;
      margin: 0 auto;
      color: $gray;
    }
    .section-title{
      max-width: 410px;
    }
    @include d(991){
      min-height: 10px;
    }
    @include m(1921){
      min-height: 1000px;
    }
}