.filters{
    padding: 18px 0 0;
    max-width: 235px;
        &-title{
            position: relative;
            font-size: 12px;
            text-transform: uppercase;
            @extend .suprapower;
            padding: 0 0 22px;
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $gray;
                }
        }
        &-list{
            padding: 25px 0;
            &-item{
                width: 100%;
                border: none;
                padding: 14px 0;
                text-align: left;
                font-size: 12px;
                text-transform: capitalize;
                color: $gray;
                transition: color .4s ease;
                background-color: transparent;
                position: relative;
                white-space: nowrap;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translate(5px,-50%);
                        right: 0;
                        width: 0;
                        height: 0;
                        border-color: transparent transparent transparent $black;
                        border-style: solid;
                        border-width: 4px 0 4px 6px;
                        opacity: 0;
                        transition: opacity .4s ease, transform .4s ease;
                    }
                    &.active{
                        color: $black;
                            &:before{
                                opacity: 1;
                                transform: translate(0,-50%);
                            }
                    }
                    @include hover(1024){
                            &:hover{
                                color: $black;
                                    &:before{
                                        opacity: 1;
                                        transform: translate(0,-50%);
                                    }
                            }
                    }
            }
            @include d(480){
                padding: 7px 0;
            }
        }
        @include d(575){
            max-width: 100%;
        }
        @include d(480){
            padding: 0;
        }
}