.folder{
  background-color: $yellow;
  min-height: 650px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
    &-header{
      padding: 37px 0;
        .default-link{
          float: right;
          margin: 6px 0;
        }
        .number{
          margin-bottom: 17px;
        }
        .link-detail{
         text-decoration: underline;
          line-height: 1.667em;
          max-width: 195px;
        }
        @include d(480){
            .number{
              margin-bottom: 5px;
            }
        }
    }
    &-content{
      margin: -14.6vh auto 0;
        &-title{
          max-width: 920px;
          text-align: center;
          display: inline-block;
          margin: 13px 0 32px;
            @include d(1600){
              max-width: 870px;
            }
            @include d(1500){
              max-width: 820px;
            }
            @include d(1400){
              max-width: 720px;
            }
            @include d(1300){
              max-width: 610px;
            }
            @include d(1200){
              max-width: 520px;
            }
            @include d(991){
              max-width: 100%;
            }
        }
        &-subtitle{
          margin: 0 0 0 5px;
            @include d(1600){
              max-width: 870px;
            }
            @include d(1500){
              max-width: 820px;
            }
            @include d(1400){
              max-width: 720px;
            }
            @include d(1300){
              max-width: 610px;
            }
            @include d(1200){
              max-width: 520px;
            }
            @include d(991){
              max-width: 100%;
            }
            @include d(576){
              font-size: 24px;
            }
        }
        &-description{
          text-align: center;
        }
        @include d(1400){
          margin: -2.6vh auto 0;
        }
        @include d(991){
          display: none;
        }
    }
    &-footer{
      padding: 36px 0;
        &-panel{
          display: flex;
          justify-content: space-between;
        }
        .static-data{
          margin: 94px 0 0;
        }
        @include d(991){
            .static-data{
              margin: 62px 0 0;
            }
        }
        @include d(575){
            .static-data{
              justify-content: center;
              margin: 0 0 10px;
            }
        }
    }
    @include d(991){
      min-height: 10px;
      height: auto;
      padding-bottom: 0;
    }
    @include d(480){
      padding-bottom: 0;
    }
}