.header{
  position: fixed;
  top: 0;
  left: 0;
  max-width: 500px;
  width: 100%;
  z-index: 2;
  padding: 40px 0;
    &-panel{
      display: flex;
      align-content: center;
      justify-content: space-between;
        &-logo{
          max-width: 181px;
          width: 181px;
          min-width: 181px;
          display: inline-block;
            @include d(1300){
              min-width: 140px;
              max-width: 140px;
              width: 140px;
            }
            @include d(1200){
              min-width: 120px;
              max-width: 120px;
              width: 120px;
            }
            @include d(991){
              min-width: 140px;
              max-width: 140px;
              width: 140px;
            }
            @include d(350){
              min-width: 120px;
              max-width: 120px;
              width: 120px;
            }
        }
    }
    @include d(1590){
      max-width: 470px;
    }
    @include d(1500){
      max-width: 420px;
    }
    @include d(1400){
      max-width: 390px;
    }
    @include d(1300){
      max-width: 350px;
    }
    @include d(1200){
      max-width: 320px;
    }
    @include d(991){
      max-width: 100%;
      position: absolute;
    }
    @include d(576){
      padding: 20px 0;
    }
}