.nav{
  position: fixed;
  top: 0;
  left: 0;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  //height: 1000px;
  background-color: $yellow;
  overflow: hidden;
  min-height: 560px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      background-color: $black;
    }
    .container{
      height: 100%;
    }
    &-preview{
      height: 44.2%;
      padding: 19.5vh 0 0;
        @include d(576){
          padding: 18.5vh 0 0;
        }
        @media only screen and (min-width: 576px) and (max-height: 650px) {
          padding: 17.5vh 0 0;
          height: 37.2%;
        }
        @media only screen and (max-width: 576px) and (max-height: 650px) {
          padding: 13.5vh 0 0;
        }
    }
    &-list{
      margin: 0 -40px;
        li{
          //padding: 21px 0;
            a{
              @extend .link;
              line-height: 60px;
              height: 60px;
              align-items: center;
              display: flex;
              justify-content: space-between;
              transition: padding .4s ease, color .4s ease;
              padding: 0 40px;
                &:before{
                  content: '';
                  position: absolute;
                  bottom: -2px;
                  height: 4px;
                  background-color: $black;
                  left: 0;
                  right: 0;
                }
                &:after{
                  content: '';
                  position: absolute;
                  top: 26px;
                  right: 36px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 4px 0 4px 6px;
                  border-color: transparent transparent transparent $white;
                  opacity: 0;
                  transition: opacity .4s ease, transform .4s ease;
                }
                .detail{
                  margin-right: 36px;
                }
                &.active{
                  color: $white;
                  background-color: $black;
                    &:after{
                      opacity: 1;
                    }
                }
                @include hover(1024){
                    &:hover{
                      color: $white;
                        &:after{
                          opacity: 1;
                        }
                    }
                }
            }
            &:last-child{
                a{
                  &:before{
                    display: none;
                  }
                }
            }
        }
        @include d(1200){
            li{
                a{
                    .detail{
                      font-size: 10px;
                    }
                }
            }
        }
        @include d(991){
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 70px 40px;
          background-color: $yellow;
          z-index: 1;
            li{
                a{
                    &:before{
                      transition: height .4s ease;
                      height: 0;
                    }
                    .detail{
                      opacity: 0;
                      margin-right: 30px;
                      transition: opacity .4s ease;
                    }
                }
            }
            .nav-list-title{
              overflow: hidden;
              line-height: 1em;
            }
            .link-title{
              transform: translate(0,100%);
              transition: transform .4s ease;
              display: inline-block;
            }
            &.__open-theme{
                li{
                    a{
                        &:before{
                          height: 4px;
                        }
                        .detail{
                          opacity: 1;
                        }
                    }
                }
                .link-title{
                  transform: translate(0,0);
                }
            }
        }
        @include d(767){
          padding: 70px 20px;
          margin: 0 -20px;
          width: calc(100% + 40px);
            li{
              a{
                padding: 0 20px;
                width: 100%;
                  .detail{
                    margin-right: 40px;
                  }
              }
            }
        }
        @include d(576){
          padding: 50px 20px;
        }
        @include m(992){
          display: block !important;
        }
    }
    &-social{
      position: absolute;
      bottom: 37px;
      left: 37px;
        &-link{
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: opacity .2s ease;
          position: relative;
            &-title{
              display: none;
              font-size: 13px;
              position: relative;
                @include d(991){
                  display: inline-block;
                }
            }
            .icon{
                @include d(991){
                  display: none;
                }
            }
            @include d(991){
              width: auto;
              margin: 0 5px;
                &:before{
                  content: '';
                  position: absolute;
                  bottom: 4px;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background-color: currentColor;
                }
                &:nth-child(1){
                  margin-left: 0;
                }
                &:last-child{
                  margin-right: 0;
                }
            }
            @include hover(1024){
                &:hover{
                  opacity: .5;
                }
            }
        }
        @include d(991){
          display: flex;
          align-items: center;
          justify-content: center;
          left: 50%;
          transform: translate(-50%,0);
          bottom: 14px;
        }
    }
    &-content{
      text-align: center;
      padding: 1.9vh 0 0;
        .link-btn{
          margin: 7vh auto 0;
        }
        .folder-content{
            &-title{
              margin: .5vh 0 5vh;
            }
            &-subtitle{
              margin: 0;
            }
        }
        &-title{
          max-width: 580px;
          margin: 0 auto;
        }
        @include m(992){
          display: none;
        }
    }
    @include d(1590){
      max-width: 470px;
    }
    @include d(1500){
      max-width: 420px;
    }
    @include d(1400){
      max-width: 390px;
    }
    @include d(1300){
      max-width: 350px;
    }
    @include d(1200){
      max-width: 320px;
    }
    @include d(991){
      max-width: 100%;
      position: relative;
      min-height: 100vh;
        &:before{
          display: none;
        }
    }
}