.new-features{
  background-color: $black;
  color: $white;
  padding: 40px 0 80px;
    .section-title{
      max-width: 430px;
    }
    .table{
        td{
          color: $white;
          border-bottom-color: rgba(102,102,102,.4);
          border-width: 1px;
            &:last-child{
              text-align: left;
            }
        }
        &-content{
          color: $gray;
          display: block;
        }
        &-wrap{
          margin: 32px 0;
        }
        .plugin-row{
            &:nth-child(n + 2){
                td{
                  color: $gray;
                }
            }
        }
    }
    .td{
        &-title{
          width: auto;
          padding-right: 20px;
        }
        &-num{
          width: 8%;
        }
        &-content{
          width: 50%;
          padding-left: 40px;
        }
    }
}