.player{
    &-btn{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: $yellow;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      transition: background-color .4s ease;
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 0 8px 12px;
          border-color: transparent transparent transparent $black;
        }
        @include d(1400){
          width: 100px;
          height: 100px;
        }
        @include d(767){
          width: 80px;
          height: 80px;
        }
        @include d(576){
          width: 60px;
          height: 60px;
        }
        @include hover(1024){
            &:hover{
              background-color: $white;
            }
        }
    }
}