.plugin{
  min-height: 100vh;
    .section{
        &-title{
          max-width: 650px;
        }
        &-detail{
          opacity: .6;
            &-link{
              color: $white;
            }
        }
    }
    &-content{
      overflow: hidden;
      padding: 7px 0 12px;
        &-item{
          color: $yellow;
          font-size: 12px;
          @extend .suprapower;
          text-transform: uppercase;
          padding: 19px 0 20px;
          position: relative;
            p{
              font-size: inherit;
            }
            &:before{
              content: '';
              position: absolute;
              height: 2px;
              top: 0;
              left: -80px;
              right: 0;
              background-color: $yellow;
            }
            &:nth-child(1){
                &:before{
                  display: none;
                }
            }
        }
    }
    &-action{
      padding: 12px 0;
      text-align: center;
        @include d(576){
          padding: 15px 0 40px;
        }
        @include d(480){
          padding: 15px 0 50px;
        }
    }
    &-detail{
      position: absolute;
      bottom: 40px;
      left: 40px;
      color: $white;
      font-size: 12px;
      opacity: .6;
        @include d(767){
          left: 20px;
        }
        @include d(480){
          bottom: 20px;
        }
    }
    &-social{
      display: flex;
      align-items: center;
      padding: 0 9px;
        &-link{
          @extend .default-link;
          line-height: 2em;
          margin: 0 14px;
            &:before{
              bottom: 5px;
            }
            &:nth-child(1){
              margin-left: 0;
            }
            &:last-child{
              margin-right: 0;
            }
        }
        @include d(991){
          padding: 0;
        }
    }
    @include d(991){
      min-height: 10px;
    }
    @include m(1921){
      min-height: 1000px;
    }
}