.products{
  background-color: $white;
  min-height: 100vh;
    &-list{
      padding: 55px 0 30px;
        @include d(480){
          padding: 25px 0 30px;
        }
    }
    &-more{
      text-align: center;
      padding: 11px 0;
        &-btn{
          width: 60px;
          height: 60px;
          border: none;
          background-color: transparent;
          padding: 0;
          position: relative;
          transition: transform .4s ease;
            &:before,
            &:after{
              content: '';
              position: absolute;
              background-color: $black;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
            &:before{
              width: 2px;
              height: 50%;
            }
            &:after{
              width: 50%;
              height: 2px;
            }
            @include hover(1024){
                &:hover{
                  transform: rotate(360deg);
                }
            }
        }
        &-description{
          color: $gray;
          max-width: 315px;
          margin: 37px auto;
            @include d(350){
              margin: 10px auto 30px;
            }
        }
        &.__white{
            .products-more-btn{
                &:before,
                &:after{
                  background-color: $white;
                }
            }
        }
        &.__gray{
            .products-more-btn{
                &:before,
                &:after{
                  background-color: #404040;
                }
            }
        }
    }
    @include d(991){
      min-height: 10px;
    }
    @include m(1921){
      min-height: 1000px;
    }
}