.tabs{
  &-link{
    border: none;
    background-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    @extend .suprapower;
    padding: 0;
    letter-spacing: -.02em;
    width: 100%;
    text-align: left;
    line-height: 60px;
    white-space: nowrap;
    position: relative;
    color: $gray;
    transition: color .4s ease;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -40px;
      right: -40px;
      background-color: $yellow;
      opacity: 0;
      transition: opacity .4s ease;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: $gray;
      transition: opacity .4s ease;
    }
    &-title{
      position: relative;
      z-index: 1;
    }
    &.active{
      color: $black;
      &:before{
        opacity: 1;
      }
      &:after{
        opacity: 0;
      }
    }
    @include hover(1024){
      &:hover{
        color: $black;
        &:before{
          opacity: 1;
        }
        &:after{
          opacity: 0;
        }
      }
    }
    @include d(767){
        &:before{
          left: -20px;
          right: -20px;
        }
    }
  }
  &-content{
    padding: 36px 0 15px;
      &-item{
          &:nth-child(n + 2){
            display: none;
          }
      }
  }
}

.tab{
  &-title{
    text-align: center;
    font-size: 110px;
    @extend .suprapower;
    text-transform: uppercase;
    padding: 0 0 21px;
      p{
        font-size: inherit;
      }
      @include d(1300){
        font-size: 90px;
      }
      @include d(1200){
        font-size: 80px;
      }
      @include d(767){
        font-size: 70px;
      }
      @include d(575){
        font-size: 60px;
      }
      @include d(480){
        font-size: 48px;
      }
      @include d(350){
        font-size: 40px;
      }
  }
}