.tutorial{
    &-item{
      position: relative;
      margin: 20px auto 4px;
        &-preview{
          overflow: hidden;
          position: relative;
            img{
              min-width: 100%;
              min-height: 100%;
              width: auto;
              height: auto;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            .player-btn{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              opacity: 0;
              transition: opacity .4s ease;
            }
            @include d(1600){
              height: 240px;
            }
            @include d(1300){
              height: 18vw;
            }
            @include d(991){
              height: 24vw;
                .player-btn{
                  opacity: 1;
                }
            }
            @include d(575){
              height: 48vw;
                .player-btn{
                  width: 50px;
                  height: 50px;
                }
            }
        }
        &-content{
          position: relative;
          padding: 21px 90px 15px 0;
        }
        @include hover(992){
            &:hover{
                .player-btn{
                  opacity: 1;
                }
            }
        }
    }
    &-detail{
      position: absolute;
      top: 21px;
      right: 2px;
      text-align: right;
    }
    &-title{
      font-size: 22px;
      @extend .suprapower;
      text-transform: uppercase;
      max-width: 235px;
      line-height: 1.091em;
      margin: 0 0 12px;
      min-height: 28px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
        @include d(1200){
          font-size: 18px;
        }
        @include d(767){
          font-size: 16px;
        }
        @include d(575){
          display: block;
        }
    }
    &-description{
      max-width: 195px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: $gray;
        @include d(575){
          display: block;
        }
    }
    &-type{
      text-transform: capitalize;
    }
}

.tutorials{
    &-list{
      padding: 0 0 25px;
        div[class^="col"]{
            &:nth-child(5n){
              flex: 0 0 100%;
              max-width: 100%;
                @include d(1600){
                  .tutorial-item-preview{
                    height: 500px;
                  }
                }
                @include d(1300){
                  .tutorial-item-preview{
                    height: 35vw;
                  }
                }
                @include d(991){
                  .tutorial-item-preview{
                    height: 50vw;
                  }
                }
                @include d(575){
                  .tutorial-item-preview{
                    height: 48vw;
                  }
                }
            }
        }
    }
}